<form action="" [formGroup]="profileform">
    <div class="row">
        <div class="col-sm-4">

    <div>
        <label for="">Name:</label>
    </div>
    <div>
        <input type="text" class="form-control" formControlName="fname">
    </div>
    <div>
        <label for="">Place:</label>
    </div>
    <div>
        <input type="text" class="form-control" formControlName="lname">
    </div>
    <div>
        <label for="">Contact Number:</label>
    </div>
    <div>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <div>
        <label for="">Email id:</label>
    </div>
    <div>
        <input type="text" class="form-control" formControlName="email">
    </div><br>
    <button class="btn btn-primary">Submit</button>&nbsp;
    <button class="btn btn-primary">Reset</button>
    </div>
<div class="col-sm-8">Google map</div>    
</div>
    
    <!-- <div>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <div>
        Address
    </div>
    <div formGroupName="address">
        <div>
            <label for="">Street:</label>
        </div>
        <div>
            <input type="text" class="form-control" formControlName="street">
        </div>
        <div>
            <label for="">City:</label>
        </div>
        <div>
            <input type="text" class="form-control" formControlName="City">
        </div>
        <div>
            <label for="">State:</label>
        </div>
        <div>
            <input type="text" class="form-control" formControlName="state">
        </div>
    </div>
    <br>
    <button>save</button>
</form> -->
