<angular-image-slider [autoRotate]="true" [autoRotateAfter]="2000" [autoRotateRight]="true" [images]="imagesUrl">
</angular-image-slider>
<div><br>
  <p>Plumbing installation is vital to every establishment whether it’s a commercial or residential building. As it is critical to public health and sanitation, various companies offer such plumbing services for planning, resolving, preventing further issues and providing sanitary water supply. </p>
  <h3>Services</h3>
  <ul>
    <li>Install pipes and plumbing fixtures</li>
    <li>Visually inspect equipment and operate test equipment such as pressure and vacuum gauges to determine the cause
      and location of trouble</li>
    <li>obstructions from sink drains and toilets</li>
    <li>Troubleshoot problems and decide how to fix them</li>
    <li>Repair pipes and plumbing fixtures</li>
    <li>Estimate costs of installations and repairs</li>
    <li>Present recommendations and related pricing to customers</li>
    <li>Plumbers must be capable of performing these tasks to ensure the proper functioning of properties' plumbing
      systems.</li>
  </ul>
  
</div>
<section class="bottom container">
  <div class="row">

    <div class="col-sm-6"><br>
      <div class="row">
        <div class="col-sm-2">
          <fa-icon [icon]="faBath" style="color:white" animation="spin" size="4x"></fa-icon>
        </div>
        <div class="col-sm-10">
          This work relates to any part of an above-ground sanitary plumbing system that connects sanitary fixtures (toilets, basins, taps, sinks, showers) and appliances (dishwashers, washing machines) to a disposal system or below-ground sanitary drainage system

        </div>
      </div><br>
      <div class="row">
        <div class="col-sm-2">
          <fa-icon [icon]="faHandsWash" style="color:white" animation="spin" size="4x"></fa-icon>
        </div>
        <div class="col-sm-10">
          Kitchen and bathroom sinks are connected to a home’s water supply system, which supplies the faucets, and to a home’s drain-waste-vent (DWV) system for the drains.
          We provide the best quality services in sink installations.
        </div>
      </div><br>
      <div class="row">
        <div class="col-sm-2">
          <fa-icon [icon]="faToilet" style="color:white" animation="spin" size="4x"></fa-icon>
        </div>
        <div class="col-sm-10">
          Work involving any part of a below-ground sanitary drainage system from the above-ground sewage or waste pipes to the disposal system; and any design work that is incidental to, or associated with it. Similarly, stormwater drainage connects the roof water downpipes to the disposal point of the drainage.
        </div>
      </div><br>
    </div>
    <div class="col-sm-6"><br>
      <div class="row">
        <div class="col-sm-2">
          <fa-icon [icon]="faHome" style="color:white" animation="spin" size="4x"></fa-icon>
        </div>
        <div class="col-sm-10">
          This is the one we are all familiar with: leaky taps, broken toilets and leaking pipes are all water related problems. Plumbing as it relates to water supply refers to the construction, installation, replacement, repair, alteration, maintenance, testing or commissioning of any water supply service.
        </div>
      </div><br>
      <div class="row">
        <div class="col-sm-2">
          <fa-icon [icon]="faWater" style="color:white" animation="spin" size="4x"></fa-icon>
        </div>
        <div class="col-sm-10">
           This work relates to any part of an above-ground sanitary plumbing system that connects sanitary fixtures (toilets, basins, taps, sinks, showers) and appliances (dishwashers, washing machines) to a disposal system or below-ground sanitary drainage system.
        </div>
      </div><br>
      <div class="row">
        <div class="col-sm-2">
          <fa-icon [icon]="faTools" style="color:white" animation="spin" size="4x"></fa-icon>
        </div>
        <div class="col-sm-10">
          What do you do when you have faucet leaks, broken pipes, clogged toilets, and water heater running cold?  Wouldn’t you prefer to avoid these plumbing problems?  Understanding the problems and performing preventative maintenance we can help you avoid plumbing problems
        </div>
      </div><br>
    </div>
  </div>
</section>